docs/flows.json
[
    {
        "id": "1f4c8654d001593d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e76d7236774297bf",
        "type": "mqtt in",
        "z": "1f4c8654d001593d",
        "name": "Temperature",
        "topic": "arduino/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "af93d69258403209",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 850,
        "y": 160,
        "wires": [
            [
                "41a844aba8b4f798",
                "e355e1ef61ce3ee0",
                "2d19c6985bbaa99e"
            ]
        ]
    },
    {
        "id": "41a844aba8b4f798",
        "type": "ui_gauge",
        "z": "1f4c8654d001593d",
        "name": "Temperature Gauge",
        "group": "9c611d560d0f952f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "° C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "87f156dc4f22a710",
        "type": "ui_gauge",
        "z": "1f4c8654d001593d",
        "name": "Humidite Gauge",
        "group": "9c611d560d0f952f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidite",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 260,
        "wires": []
    },
    {
        "id": "4f638d7f38048d2c",
        "type": "ui_gauge",
        "z": "1f4c8654d001593d",
        "name": "Pression Gauge",
        "group": "9c611d560d0f952f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pression",
        "label": "kPa",
        "format": "{{value}}",
        "min": "95",
        "max": "105",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "2b09ca322d2ca3f7",
        "type": "ui_gauge",
        "z": "1f4c8654d001593d",
        "name": "Acceleration x Gauge",
        "group": "f4d612106d1a20d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Accelecration x",
        "label": "m/s²",
        "format": "{{value}}",
        "min": "-2",
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "874fa990c9565bc9",
        "type": "ui_gauge",
        "z": "1f4c8654d001593d",
        "name": "Acceleration y Gauge",
        "group": "f4d612106d1a20d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Acceleration y",
        "label": "m/s²",
        "format": "{{value}}",
        "min": "-2",
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 620,
        "wires": []
    },
    {
        "id": "2e6fecab7f714e17",
        "type": "ui_gauge",
        "z": "1f4c8654d001593d",
        "name": "Acceleration z Gauge",
        "group": "f4d612106d1a20d4",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Acceleration z",
        "label": "m/s²",
        "format": "{{value}}",
        "min": "-2",
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 720,
        "wires": []
    },
    {
        "id": "4737deac191fd974",
        "type": "mqtt in",
        "z": "1f4c8654d001593d",
        "name": "Humidite",
        "topic": "arduino/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "219070ddb42d87c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 260,
        "wires": [
            [
                "87f156dc4f22a710",
                "47853b64cd52fc30",
                "2d19c6985bbaa99e"
            ]
        ]
    },
    {
        "id": "e13fe3515683bccd",
        "type": "mqtt in",
        "z": "1f4c8654d001593d",
        "name": "Pression",
        "topic": "arduino/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "219070ddb42d87c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 380,
        "wires": [
            [
                "4f638d7f38048d2c",
                "fd55afd9a13a112e",
                "2d19c6985bbaa99e"
            ]
        ]
    },
    {
        "id": "0a8c295f48a08626",
        "type": "mqtt in",
        "z": "1f4c8654d001593d",
        "name": "Acceleration x ",
        "topic": "arduino/accel/x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "219070ddb42d87c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "2b09ca322d2ca3f7",
                "c425358d0848dbbe",
                "2d19c6985bbaa99e"
            ]
        ]
    },
    {
        "id": "2e07a5667988a050",
        "type": "mqtt in",
        "z": "1f4c8654d001593d",
        "name": "Acceleration y",
        "topic": "arduino/accel/y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "219070ddb42d87c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "874fa990c9565bc9",
                "846366f7e2006701",
                "2d19c6985bbaa99e"
            ]
        ]
    },
    {
        "id": "ec1f16562ad416b6",
        "type": "mqtt in",
        "z": "1f4c8654d001593d",
        "name": "Acceleration z",
        "topic": "arduino/accel/z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "219070ddb42d87c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "2e6fecab7f714e17",
                "c407ccba859dbf2f",
                "2d19c6985bbaa99e"
            ]
        ]
    },
    {
        "id": "e355e1ef61ce3ee0",
        "type": "ui_chart",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "d4d6b65f0adc0749",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historique Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c425358d0848dbbe",
        "type": "ui_chart",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "fab2ba19fe731386",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Historique Acceleration x",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-2",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "47853b64cd52fc30",
        "type": "ui_chart",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "d4d6b65f0adc0749",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Historique Humidite",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "846366f7e2006701",
        "type": "ui_chart",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "fab2ba19fe731386",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Historique Acceleration y",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-2",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "fd55afd9a13a112e",
        "type": "ui_chart",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "d4d6b65f0adc0749",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Historique Pression",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "95",
        "ymax": "105",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c407ccba859dbf2f",
        "type": "ui_chart",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "fab2ba19fe731386",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Historique Acceleration z",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-2",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2d19c6985bbaa99e",
        "type": "function",
        "z": "1f4c8654d001593d",
        "name": "function 1",
        "func": "var nom_capteur = msg.topic.split('/').slice(1).join('_');\nvar valeur = parseFloat(msg.payload);\n\nif (isNaN(valeur)) {\n    return null;\n}\n\nvar context = flow.get('sensorData') || {};\n\ncontext[nom_capteur] = valeur;\ncontext.timestamp = Date.now();\n\nflow.set('sensorData', context);\n\nif (Object.keys(context).length >= 13) {\n    var fields = {\n        temperature: context.temperature || 0,\n        humidity: context.humidity || 0,\n        pressure: context.pressure || 0,\n        accel_x: context.accel_x || 0,\n        accel_y: context.accel_y || 0,\n        accel_z: context.accel_z || 0,\n        gyro_x: context.gyro_x || 0,\n        gyro_y: context.gyro_y || 0,\n        gyro_z: context.gyro_z || 0,\n        mag_x: context.mag_x || 0,\n        mag_y: context.mag_y || 0,\n        mag_z: context.mag_z || 0\n    };\n    \n    msg.payload = fields;\n    msg.measurement = \"sensors_combined\";\n    msg.fields = fields;\n    \n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 560,
        "wires": [
            [
                "23d7685e3b8199d9",
                "1851b1b7fec1b883"
            ]
        ]
    },
    {
        "id": "23d7685e3b8199d9",
        "type": "influxdb out",
        "z": "1f4c8654d001593d",
        "influxdb": "e1b19bb982e72fee",
        "name": "InfluxDB Local",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1780,
        "y": 560,
        "wires": []
    },
    {
        "id": "1851b1b7fec1b883",
        "type": "debug",
        "z": "1f4c8654d001593d",
        "name": "Debug avant InfluxDB",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 480,
        "wires": []
    },
    {
        "id": "85699d080d04b015",
        "type": "mqtt in",
        "z": "1f4c8654d001593d",
        "name": "Gyroscope x",
        "topic": "arduino/gyro/x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "219070ddb42d87c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 860,
        "wires": [
            [
                "4ca6f5dad36f83df",
                "60cde31480b2b109",
                "2d19c6985bbaa99e"
            ]
        ]
    },
    {
        "id": "b40d237a60167f5e",
        "type": "mqtt in",
        "z": "1f4c8654d001593d",
        "name": "Gyroscope y",
        "topic": "arduino/gyro/y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "219070ddb42d87c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 980,
        "wires": [
            [
                "bd497d6db6766dcc",
                "9f6ae0f3cae20e95",
                "2d19c6985bbaa99e"
            ]
        ]
    },
    {
        "id": "2eb2e1d3d1164ee2",
        "type": "mqtt in",
        "z": "1f4c8654d001593d",
        "name": "Gyroscope z",
        "topic": "arduino/gyro/z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "219070ddb42d87c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 1100,
        "wires": [
            [
                "89d0cc37413f1f4f",
                "70b4fca2ef3669dd",
                "2d19c6985bbaa99e"
            ]
        ]
    },
    {
        "id": "fb8744620d318a9d",
        "type": "mqtt in",
        "z": "1f4c8654d001593d",
        "name": "Magnetometre x",
        "topic": "arduino/mag/x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "219070ddb42d87c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1160,
        "y": 1040,
        "wires": [
            [
                "7a6b9734d359e9db",
                "cf082200ad60c78c",
                "2d19c6985bbaa99e"
            ]
        ]
    },
    {
        "id": "9e72ef62c425b725",
        "type": "mqtt in",
        "z": "1f4c8654d001593d",
        "name": "Magnetometre y",
        "topic": "arduino/mag/y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "219070ddb42d87c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1160,
        "y": 1140,
        "wires": [
            [
                "77dd0f97b3e2a51d",
                "92c29ad40378780b",
                "2d19c6985bbaa99e"
            ]
        ]
    },
    {
        "id": "37b861f270561d6e",
        "type": "mqtt in",
        "z": "1f4c8654d001593d",
        "name": "Magnetometre z",
        "topic": "arduino/mag/z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "219070ddb42d87c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1160,
        "y": 1260,
        "wires": [
            [
                "8d2a0003a1c20b3b",
                "2bfa5bc2937d6295",
                "2d19c6985bbaa99e"
            ]
        ]
    },
    {
        "id": "4ca6f5dad36f83df",
        "type": "ui_gauge",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "af35d51b77f955a9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gyroscope X",
        "label": "deg/s",
        "format": "{{value}}",
        "min": "-200",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 860,
        "wires": []
    },
    {
        "id": "bd497d6db6766dcc",
        "type": "ui_gauge",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "af35d51b77f955a9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gyroscope Y",
        "label": "deg/s",
        "format": "{{value}}",
        "min": "-200",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 1000,
        "wires": []
    },
    {
        "id": "89d0cc37413f1f4f",
        "type": "ui_gauge",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "af35d51b77f955a9",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gyroscope Z",
        "label": "deg/s",
        "format": "{{value}}",
        "min": "-200",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 1120,
        "wires": []
    },
    {
        "id": "7a6b9734d359e9db",
        "type": "ui_gauge",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "03c837b8ae65a853",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Magnetometre X",
        "label": "µT",
        "format": "{{value}}",
        "min": "-100",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1420,
        "y": 1060,
        "wires": []
    },
    {
        "id": "77dd0f97b3e2a51d",
        "type": "ui_gauge",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "03c837b8ae65a853",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Magnetometre Y",
        "label": "µT",
        "format": "{{value}}",
        "min": "-100",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1420,
        "y": 1180,
        "wires": []
    },
    {
        "id": "8d2a0003a1c20b3b",
        "type": "ui_gauge",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "03c837b8ae65a853",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Magnetometre Z",
        "label": "µT",
        "format": "{{value}}",
        "min": "-100",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1420,
        "y": 1260,
        "wires": []
    },
    {
        "id": "60cde31480b2b109",
        "type": "ui_chart",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "477a5c0f5298adfd",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Historique Gyroscope X",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-200",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "9f6ae0f3cae20e95",
        "type": "ui_chart",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "477a5c0f5298adfd",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historique Gyroscope Y",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-200",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "70b4fca2ef3669dd",
        "type": "ui_chart",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "477a5c0f5298adfd",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Historique Gyroscope Z",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-200",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "cf082200ad60c78c",
        "type": "ui_chart",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "ed0c5455f864433d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Historique Magnetometre X",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-100",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1500,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "92c29ad40378780b",
        "type": "ui_chart",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "ed0c5455f864433d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historique Magnetometre Y",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-100",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1500,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "2bfa5bc2937d6295",
        "type": "ui_chart",
        "z": "1f4c8654d001593d",
        "name": "",
        "group": "ed0c5455f864433d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Historique Magnetometre Z",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-100",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1500,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "af93d69258403209",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9c611d560d0f952f",
        "type": "ui_group",
        "name": "Environnement",
        "tab": "e734cda6fb305049",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4d612106d1a20d4",
        "type": "ui_group",
        "name": "Mouvement",
        "tab": "e734cda6fb305049",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "219070ddb42d87c4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d4d6b65f0adc0749",
        "type": "ui_group",
        "name": "Graphiques Environnement",
        "tab": "e734cda6fb305049",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fab2ba19fe731386",
        "type": "ui_group",
        "name": "Graphique Mouvement",
        "tab": "e734cda6fb305049",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e1b19bb982e72fee",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "donnees_capteurs_arduino",
        "name": "InfluxDB Local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "af35d51b77f955a9",
        "type": "ui_group",
        "name": "Gyroscope",
        "tab": "e734cda6fb305049",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "03c837b8ae65a853",
        "type": "ui_group",
        "name": "Magnetometre",
        "tab": "e734cda6fb305049",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "477a5c0f5298adfd",
        "type": "ui_group",
        "name": "Graphiques Gyroscope",
        "tab": "e734cda6fb305049",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed0c5455f864433d",
        "type": "ui_group",
        "name": "Graphiques Magnetometre",
        "tab": "e734cda6fb305049",
        "order": 8,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e734cda6fb305049",
        "type": "ui_tab",
        "name": "Donnees Capteurs Arduino ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a738eeac3be5269d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]